<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/assets/css/style.css">
    <title>Document</title>
</head>

<body>
    <header>


        <div class="container__header">

            <a href="" class="logo"><img src="/src/assets/images/logo.png"
                    alt="imagens de três estrelas ao lado do nome"> wellington carlos</a>
            <nav class="navbar">
                <a href="">sobre mim</a>
                <a href="">skills</a>
                <a href="">hobbies</a>
                <a href="">projetos</a>
                <a href="">formação</a>
                <a href="">wellingtoncarlos.tech@gmail.com</a>
            </nav>

        </div>


    </header>

    <section class="container__apresentação">

        <div class="bem__vindo">

            <div>

                <h2>Olá, bem-vindo(a) ao meu portfólio</h2>
                <p>
                    Sou estudante de Análise e Desenvolvimento de Sistemas com foco em front-end, em busca de uma
                    oportunidade como estagiário ou desenvolvedor júnior para aplicar e expandir meus conhecimentos. A
                    construção deste portfólio foi um desafio do programa da Oracle em parceria com a Alura, e aqui você
                    encontrará minhas habilidades técnicas e interpessoais, além dos projetos que desenvolvi e um pouco
                    sobre minha trajetória.
                </p>

                <nav class="redes">
                    <a href="">github <img src="/src/assets/images/seta.png" alt=""></a>
                    <a href="">linkedin  <img src="/src/assets/images/seta.png"> </a><a href="">curriculo <img src="/src/assets/images/seta.png"></a>
                    <a href="">email  <img src="/src/assets/images/seta.png"></a>
                </nav>

            </div>

            <figure class="imagem__dev">
                <img src="/src/assets/images/wellington.1.jpg" alt="imagem do desenvolvedor">
            </figure>
        </div>
        </section>
</body>

</html>