<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/assets/css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
                <h1>bora pra cima</h1>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat perspiciatis obcaecati quibusdam officiis nam laborum optio quis totam architecto iste labore, provident illum aspernatur! Cupiditate distinctio nesciunt modi illum iure!</p>
    </header>
</body>
</html>