<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/assets/css/style.css">
    <title>Document</title>
</head>

<body>
    <header class="container__header">
        <a href="" class="logo"><img src="/src/assets/images/logo.png"
        alt="imagens de três estrelas ao lado do nome"> wellington carlos</a>
        <nav class="navbar">
            <a href="">sobre mim</a>
            <a href="">skills</a>
            <a href="">hobbies</a>
            <a href="">projetos</a>
            <a href="">formação</a>
            <a href="">wellingtoncarlos.tech@gmail.com</a>
        </nav>
    </header>

</body>

</html>