@import url('/src/assets/css/color.css');
@import url('/src/assets/css/fonts.css');

*{
    text-decoration: none;
    
}

header{
    width: 100%;
    background-color: var(--color2);
    
}

.container__header{
    width: var(--csize);
    margin: auto;
    display: flex;
    padding: 34.5px 0;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color2);
    

}

.logo{
    display: flex;
    gap: 2.5px;
    font-size: var(--tsize);
    color: var(--color5);
    font-family: var(--title2);
   
}

.logo img{
    width: 1.5rem;
   
}

.navbar{
    display: flex;
    gap: 32px;
    font-size: var(--psize);
   
}

.navbar a{
    color: var(--color5);
    font-family: var(--paragrafo2);
    
}

.navbar a:hover{
    background-color: var(--color3);
    transition: 0.3s ;
}

