@import url(/src/assets/css/fonts.css);
@import url(/src/assets/css/color.css);

.container__apresentação{
    width: 100%;
    background-color: var(--color2);
    display: flex;
}

.bem__vindo{
    display: flex;
    width: var(--csize);
    flex-wrap: wrap;
    margin: auto;
    background-color: var(--color2);
    color: var(--color5);
    
   
}

.bem-vindo__text{
    display: flex;
    overflow-wrap: wra;
    flex-direction: column;
   
    
}

.bem__vindo h2{
    font-size: var(--tsize);
    font-family: var(--title2);
}

.bem__vindo p{
    width: 50rem;
    font-size: var(--psize);
    font-family: var(--paragrafo2);
    text-align: justify;
    overflow-wrap: wrap;
    
   
   
}

.imagem__dev img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit:contain;
    

}

.redes{
    display: flex;
   gap: 32px;
}

.redes a{
    display: flex;
    align-items: center;
    font-size: var(--psize);
    font-family: var(--paragrafo2);
    color: var(--color5);
}


.section__sobre__mim{
 background-color: var(--color5);
 height: auto;
 display: flex;
 justify-content: center;
}

.div__sobre__mim{
    width: 71rem;
    height: auto;
    padding: 64px 0;
    color: var(--color2);
    font-size: var(--psize);
    font-family: var(--paragrafo2);
    text-align: justify;
    text-wrap: wrap;
}

.div__sobre__mim h2{
    font-size: var(--tsize);
    font-family: var(--title2);
}

.container__cards h2{
   text-align: center;
   font-size: var(--tsize);
   font-family: var(--title2);
}



.container__cards__skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
   
}


.cards__skills{
    width: 10rem;
    height: 10rem;
    display: flex;
    gap: 8px;
    padding-left: 16px;
    flex-direction: column-reverse;
    margin-top: 32px;
    border: solid;
    font-size: var(--psize);
    font-family: var(--paragrafo2);
   
}

.cards__skills img{
    width: 1.4rem;
    padding-bottom: 16px;
}